.hero-tabs-section {
    .content-box {
        text-align: center;
    }
    .nav-tabs {
        max-width: 480px;
        margin: auto;
    }
    .nav-tabs {
        max-width: 480px;
        margin: auto;
    }
}