@font-face {
    font-family: "Itc";
    src: url("../fonts/ITC/ITC\ Avant\ Garde\ Gothic\ Std\ Bold.otf");
}

@font-face {
    font-family: "Itc-regular";
    src: url("../fonts/ITC/ITC\ Avant\ Garde\ Gothic\ Std\ Book.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');