/**** Text Color ***/

$primary: #1B1D1F;
$secondary: #1E1F73;
$tertiary: #1D1E20;
$quaternary: #000080;

/**** Button Color ***/

$btn_primary: linear-gradient(90.24deg, #484961 2.57%, #202072 99.54%);
$btn_secondary: #FFFFFF;

/**** Body Color ***/

$background-color: #F5F5F5;